{% extends 'home.html'%}
{% block main %}
    <hr>
    <article>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="#">Alunos</a>
                        <ul>
                            <li>Cadastrar</li>
                            <li>Editar</li>
                            <li>Excluir</li>
                            <li>Matricular</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Professores</a>
                        <ul>
                            <li>Cadastrar</li>
                            <li>Editar</li>
                            <li>Excluir</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Disciplinas</a>
                        <ul>
                            <li>Cadastrar</li>
                            <li>Editar</li>
                            <li>Excluir</li>
                            <li>Liberar Matricula</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Relatório</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>

        </main>
        <footer>
            
        </footer>
    </article>

{% endblock %}